# DS-HW[2] Data Design and Building

## Problem 2. Data Building

### 1) DB connection check

In [10]:
SERVER_IP = "202.30.21.34"
DB_NAME = "db201921041"
# 데이터 베이스 연결을  위한 ip 와 데이터베이스 이름

In [11]:
import logging
import pymysql

import socket

def _CheckIP():
    return socket.gethostbyname(socket.gethostname()) == SERVER_IP

def _getHostName():    
    if _CheckIP():
        return "localhost"
    else:
        return SERVER_IP
        
def connectDb(user, password):
    host = _getHostName()

    try:
        return pymysql.connect(host = host, user = user, password = password, db = DB_NAME, charset="utf8")
    except:
        logging.error("Check DB info")
        logging.error("user : " + user + ", password : " + password)        
# 실습때 진행한 데이터 베이스연결 코드

In [12]:
conn = connectDb("std201921041", "201921041")
cur = conn.cursor()
# 데이터 접근을 위한 cursor 지정 및 Db 연결

위 부분은 실습때 진행했던 Db 연결 및 접속에 관한 코드이다.

### 2) DB insertion Process (Tuple Insertion)

In [13]:
import pandas as pd

data= pd.read_csv("dataset/dbACC.csv") #csv 파일 불러 오기
tupleData = [tuple(x) for x in data.values] #튜플화 시킨후 저장

In [53]:
tupleData #데이터 확인

[(0.0, -0.2087, -0.4806, 0.377),
 (1.0, -0.2104, -0.4819, 0.3759),
 (2.0, -0.2103, -0.4822, 0.3798),
 (3.0, -0.2119, -0.4819, 0.3806),
 (4.0, -0.2148, -0.4812, 0.3823),
 (5.0, -0.2156, -0.4812, 0.3823),
 (6.0, -0.2185, -0.4817, 0.3839),
 (7.0, -0.2201, -0.4805, 0.3848),
 (8.0, -0.2209, -0.4796, 0.3862),
 (9.0, -0.2227, -0.4794, 0.3859),
 (10.0, -0.2253, -0.4786, 0.3881),
 (11.0, -0.2253, -0.4792, 0.3879),
 (12.0, -0.2278, -0.4785, 0.3871),
 (13.0, -0.2302, -0.4767, 0.387),
 (14.0, -0.2312, -0.4758, 0.3872),
 (15.0, -0.2322, -0.4742, 0.3883),
 (16.0, -0.2339, -0.4727, 0.387),
 (17.0, -0.2349, -0.4722, 0.3899),
 (18.0, -0.2363, -0.4722, 0.3936),
 (19.0, -0.2373, -0.4724, 0.3955),
 (20.0, -0.2363, -0.4733, 0.3955),
 (21.0, -0.2373, -0.4749, 0.3945),
 (22.0, -0.2374, -0.4745, 0.3987),
 (23.0, -0.2383, -0.4731, 0.4019),
 (24.0, -0.24, -0.4714, 0.4059),
 (25.0, -0.241, -0.4692, 0.405),
 (26.0, -0.2393, -0.4705, 0.4037),
 (27.0, -0.2393, -0.4691, 0.4045),
 (28.0, -0.2397, -0.4692, 0.4055),
 (29.0, -0.2373, -0.4691, 0.407),
 (30.0, -0.2378, -0.4705, 0.4084),
 (31.0, -0.2373, -0.4711, 0.4084),
 (32.0, -0.2378, -0.4696, 0.4091),
 (33.0, -0.2368, -0.4681, 0.4084),
 (34.0, -0.2358, -0.4679, 0.4105),
 (35.0, -0.2382, -0.4661, 0.4128),
 (36.0, -0.2373, -0.4651, 0.4121),
 (37.0, -0.2366, -0.4657, 0.4158),
 (38.0, -0.2339, -0.4659, 0.415),
 (39.0, -0.2339, -0.4662, 0.4169),
 (40.0, -0.2311, -0.4674, 0.4172),
 (41.0, -0.23, -0.4683, 0.417),
 (42.0, -0.23, -0.4672, 0.4191),
 (43.0, -0.2285, -0.4659, 0.4197),
 (44.0, -0.2261, -0.4663, 0.4202),
 (45.0, -0.2249, -0.467, 0.4221),
 (46.0, -0.2231, -0.4661, 0.4226),
 (47.0, -0.2227, -0.4678, 0.4216),
 (48.0, -0.2209, -0.4685, 0.4258),
 (49.0, -0.2202, -0.4697, 0.4248),
 (50.0, -0.2183, -0.4707, 0.4253),
 (51.0, -0.2163, -0.4728, 0.4246),
 (52.0, -0.2158, -0.4749, 0.4241),
 (53.0, -0.2144, -0.4761, 0.4252),
 (54.0, -0.2119, -0.4749, 0.4241),
 (55.0, -0.2109, -0.4755, 0.4227),
 (56.0, -0.2087, -0.4766, 0.4246),
 (57.0, -0.207, -0.4766, 0.4224),
 (58.0, -0.2056, -0.4763, 0.4246),
 (59.0, -0.2056, -0.4767, 0.4246),
 (60.0, -0.2021, -0.478, 0.4227),
 (61.0, -0.2021, -0.4783, 0.4202),
 (62.0, -0.2, -0.4781, 0.4209),
 (63.0, -0.199, -0.4792, 0.4219),
 (64.0, -0.1973, -0.4779, 0.4218),
 (65.0, -0.1953, -0.478, 0.421),
 (66.0, -0.1947, -0.48, 0.4233),
 (67.0, -0.1938, -0.4777, 0.4202),
 (68.0, -0.1904, -0.4795, 0.4185),
 (69.0, -0.1875, -0.4795, 0.4197),
 (70.0, -0.1887, -0.4795, 0.4164),
 (71.0, -0.1885, -0.4792, 0.4175),
 (72.0, -0.186, -0.4805, 0.416),
 (73.0, -0.1846, -0.48, 0.4165),
 (74.0, -0.1843, -0.4799, 0.4169),
 (75.0, -0.1831, -0.48, 0.4163),
 (76.0, -0.1826, -0.48, 0.4153),
 (77.0, -0.1821, -0.4813, 0.4167),
 (78.0, -0.1814, -0.4819, 0.4155),
 (79.0, -0.1786, -0.4824, 0.4138),
 (80.0, -0.1787, -0.4844, 0.4153),
 (81.0, -0.1763, -0.4841, 0.4141),
 (82.0, -0.1758, -0.4835, 0.4119),
 (83.0, -0.175, -0.4835, 0.4131),
 (84.0, -0.1746, -0.4828, 0.4111),
 (85.0, -0.1729, -0.4846, 0.4109),
 (86.0, -0.1724, -0.4852, 0.4087),
 (87.0, -0.1733, -0.4843, 0.4082),
 (88.0, -0.1738, -0.4849, 0.407),
 (89.0, -0.1748, -0.4851, 0.4038),
 (90.0, -0.1743, -0.4874, 0.4026),
 (91.0, -0.1736, -0.4872, 0.4019),
 (92.0, -0.1747, -0.4878, 0.3993),
 (93.0, -0.1748, -0.49, 0.3982),
 (94.0, -0.1758, -0.489, 0.4001),
 (95.0, -0.1763, -0.489, 0.3998),
 (96.0, -0.1755, -0.49, 0.3993),
 (97.0, -0.1758, -0.4908, 0.3949),
 (98.0, -0.1755, -0.4902, 0.396),
 (99.0, -0.1758, -0.4906, 0.3958),
 (100.0, -0.1763, -0.4911, 0.3956),
 (101.0, -0.1776, -0.4912, 0.3923),
 (102.0, -0.1782, -0.4918, 0.3904),
 (103.0, -0.1787, -0.4918, 0.3904),
 (104.0, -0.1787, -0.4922, 0.3911),
 (105.0, -0.1777, -0.4927, 0.3882),
 (106.0, -0.1787, -0.4924, 0.3881),
 (107.0, -0.1807, -0.4934, 0.387),
 (108.0, -0.1807, -0.4958, 0.3867),
 (109.0, -0.1804, -0.4956, 0.3853),
 (110.0, -0.1826, -0.4962, 0.3831),
 (111.0, -0.1841, -0.4967, 0.3792),
 (112.0, -0.1843, -0.4976, 0.3796),
 (113.0, -0.1844, -0.4972, 0.3779),
 (114.0, -0.1879, -0.4969, 0.3787),
 (115.0, -0.1899, -0.4958, 0.3785),
 (116.0, -0.189, -0.4966, 0.3784),
 (117.0, -0.1909, -0.4963, 0.3759),
 (118.0, -0.1914, -0.4958, 0.3759),
 (119.0, -0.1924, -0.4958, 0.3748),
 (120.0, -0.1924, -0.4976, 0.3719),
 (121.0, -0.1952, -0.4978, 0.3718),
 (122.0, -0.1962, -0.4976, 0.368),
 (123.0, -0.1973, -0.4991, 0.3684),
 (124.0, -0.1982, -0.5, 0.3691),
 (125.0, -0.2002, -0.4993, 0.3696),
 (126.0, -0.2017, -0.4991, 0.3674),
 (127.0, -0.2048, -0.4993, 0.3684),
 (128.0, -0.2053, -0.5015, 0.3665),
 (129.0, -0.207, -0.4999, 0.3638),
 (130.0, -0.2083, -0.5017, 0.3652),
 (131.0, -0.21, -0.5038, 0.3619),
 (132.0, -0.2112, -0.504, 0.3624),
 (133.0, -0.2124, -0.5046, 0.3645),
 (134.0, -0.2139, -0.5063, 0.3662),
 (135.0, -0.2158, -0.505, 0.3652),
 (136.0, -0.2156, -0.5056, 0.364),
 (137.0, -0.2173, -0.5067, 0.3662),
 (138.0, -0.2188, -0.5065, 0.3662),
 (139.0, -0.2217, -0.5085, 0.3645),
 (140.0, -0.2227, -0.5098, 0.3638),
 (141.0, -0.2236, -0.5099, 0.3623),
 (142.0, -0.2273, -0.5085, 0.3608),
 (143.0, -0.2273, -0.5105, 0.3602),
 (144.0, -0.2283, -0.5104, 0.3613),
 (145.0, -0.2302, -0.5106, 0.3602),
 (146.0, -0.2308, -0.5121, 0.3588),
 (147.0, -0.2314, -0.5109, 0.3596),
 (148.0, -0.2344, -0.5107, 0.3601),
 (149.0, -0.2358, -0.5105, 0.3594),
 (150.0, -0.2373, -0.5095, 0.3591),
 (151.0, -0.2393, -0.5105, 0.3582),
 (152.0, -0.2432, -0.5095, 0.356),
 (153.0, -0.2437, -0.5112, 0.3567),
 (154.0, -0.2416, -0.5117, 0.3563),
 (155.0, -0.2441, -0.5105, 0.3584),
 (156.0, -0.2441, -0.5099, 0.3597),
 (157.0, -0.2432, -0.5085, 0.3602),
 (158.0, -0.2451, -0.509, 0.3621),
 (159.0, -0.2466, -0.5078, 0.3594),
 (160.0, -0.2473, -0.5061, 0.3579),
 (161.0, -0.2478, -0.5056, 0.3585),
 (162.0, -0.2505, -0.5056, 0.3562),
 (163.0, -0.2485, -0.5061, 0.356),
 (164.0, -0.248, -0.5061, 0.3579),
 (165.0, -0.2466, -0.5074, 0.3579),
 (166.0, -0.2493, -0.5066, 0.3602),
 (167.0, -0.2507, -0.5039, 0.3588),
 (168.0, -0.251, -0.5035, 0.3597),
 (169.0, -0.251, -0.5032, 0.3589),
 (170.0, -0.2505, -0.502, 0.3584),
 (171.0, -0.252, -0.4998, 0.3599),
 (172.0, -0.252, -0.4995, 0.3579),
 (173.0, -0.2524, -0.4977, 0.3602),
 (174.0, -0.252, -0.4971, 0.3588),
 (175.0, -0.25, -0.4961, 0.3584),
 (176.0, -0.2493, -0.4939, 0.3599),
 (177.0, -0.2471, -0.493, 0.3586),
 (178.0, -0.248, -0.4918, 0.3601),
 (179.0, -0.2485, -0.4902, 0.3586),
 (180.0, -0.2466, -0.4889, 0.3608),
 (181.0, -0.2466, -0.4877, 0.3625),
 (182.0, -0.2448, -0.49, 0.3613),
 (183.0, -0.2437, -0.4893, 0.3633),
 (184.0, -0.2417, -0.4916, 0.3644),
 (185.0, -0.2405, -0.4913, 0.3685),
 (186.0, -0.2393, -0.4906, 0.3672),
 (187.0, -0.2383, -0.4902, 0.366),
 (188.0, -0.2373, -0.4895, 0.3666),
 (189.0, -0.2358, -0.4885, 0.3628),
 (190.0, -0.2344, -0.489, 0.3621),
 (191.0, -0.2327, -0.4878, 0.3635),
 (192.0, -0.2324, -0.49, 0.3644),
 (193.0, -0.2305, -0.4884, 0.3638),
 (194.0, -0.229, -0.4886, 0.3655),
 (195.0, -0.2251, -0.4885, 0.3643),
 (196.0, -0.2253, -0.488, 0.3672),
 (197.0, -0.2231, -0.489, 0.3702),
 (198.0, -0.2202, -0.4895, 0.3684),
 (199.0, -0.2183, -0.4908, 0.366),
 (200.0, -0.2163, -0.4901, 0.3672),
 (201.0, -0.2131, -0.4917, 0.3704),
 (202.0, -0.2122, -0.4918, 0.373),
 (203.0, -0.2087, -0.4924, 0.3743),
 (204.0, -0.2068, -0.4928, 0.3752),
 (205.0, -0.2036, -0.4913, 0.3757),
 (206.0, -0.2023, -0.4917, 0.3749),
 (207.0, -0.2019, -0.4907, 0.3777),
 (208.0, -0.1992, -0.4911, 0.3752),
 (209.0, -0.1963, -0.4907, 0.3741),
 (210.0, -0.1943, -0.4919, 0.3759),
 (211.0, -0.1931, -0.4912, 0.3752),
 (212.0, -0.1923, -0.4902, 0.3774),
 (213.0, -0.1909, -0.489, 0.3792),
 (214.0, -0.188, -0.4894, 0.3818),
 (215.0, -0.1846, -0.4899, 0.3826),
 (216.0, -0.1836, -0.4895, 0.3837),
 (217.0, -0.1836, -0.489, 0.385),
 (218.0, -0.1807, -0.4906, 0.3867),
 (219.0, -0.1782, -0.4906, 0.3867),
 (220.0, -0.1775, -0.4908, 0.3885),
 (221.0, -0.1772, -0.4911, 0.3898),
 (222.0, -0.1763, -0.4912, 0.3896),
 (223.0, -0.1748, -0.4915, 0.3945),
 (224.0, -0.1743, -0.4905, 0.3948),
 (225.0, -0.1731, -0.4902, 0.3965),
 (226.0, -0.1724, -0.4912, 0.3982),
 (227.0, -0.1698, -0.4928, 0.3993),
 (228.0, -0.1704, -0.4928, 0.395),
 (229.0, -0.1694, -0.4954, 0.3992),
 (230.0, -0.1697, -0.4972, 0.3992),
 (231.0, -0.168, -0.4993, 0.3977),
 (232.0, -0.1689, -0.4988, 0.3994),
 (233.0, -0.168, -0.5, 0.4023),
 (234.0, -0.1685, -0.4991, 0.4036),
 (235.0, -0.1678, -0.5002, 0.4033),
 (236.0, -0.1678, -0.5004, 0.4028),
 (237.0, -0.1689, -0.4991, 0.4021),
 (238.0, -0.1699, -0.4972, 0.4039),
 (239.0, -0.1694, -0.4991, 0.405),
 (240.0, -0.1709, -0.4966, 0.4067),
 (241.0, -0.1699, -0.4972, 0.4082),
 (242.0, -0.1709, -0.4967, 0.4084),
 (243.0, -0.1719, -0.4961, 0.4104),
 (244.0, -0.1699, -0.4937, 0.4119),
 (245.0, -0.1724, -0.4927, 0.4121),
 (246.0, -0.1736, -0.4905, 0.4116),
 (247.0, -0.1719, -0.4922, 0.4108),
 (248.0, -0.1716, -0.4937, 0.41),
 (249.0, -0.1727, -0.49, 0.4092),
 (250.0, -0.1733, -0.4879, 0.4105),
 (251.0, -0.1748, -0.4886, 0.4087),
 (252.0, -0.1758, -0.4878, 0.4072),
 (253.0, -0.1763, -0.4854, 0.4055),
 (254.0, -0.1782, -0.4854, 0.4055),
 (255.0, -0.1792, -0.4841, 0.4058),
 (256.0, -0.1792, -0.4835, 0.403),
 (257.0, -0.1794, -0.4839, 0.4028),
 (258.0, -0.1797, -0.4835, 0.4015),
 (259.0, -0.1787, -0.4839, 0.4021),
 (260.0, -0.1801, -0.4851, 0.4009),
 (261.0, -0.1826, -0.4846, 0.4006),
 (262.0, -0.1836, -0.4836, 0.3989),
 (263.0, -0.1846, -0.484, 0.3975),
 (264.0, -0.1855, -0.4827, 0.3984),
 (265.0, -0.1863, -0.4835, 0.3993),
 (266.0, -0.187, -0.4854, 0.3987),
 (267.0, -0.1885, -0.4861, 0.3967),
 (268.0, -0.1907, -0.4852, 0.3954),
 (269.0, -0.1929, -0.4861, 0.3926),
 (270.0, -0.1934, -0.4852, 0.3906),
 (271.0, -0.1948, -0.4865, 0.3906),
 (272.0, -0.1958, -0.4854, 0.3889),
 (273.0, -0.1978, -0.4844, 0.3872),
 (274.0, -0.199, -0.4836, 0.386),
 (275.0, -0.1992, -0.484, 0.3823),
 (276.0, -0.1992, -0.4858, 0.3792),
 (277.0, -0.2002, -0.4868, 0.3796),
 (278.0, -0.2002, -0.4875, 0.3826),
 (279.0, -0.2007, -0.486, 0.3759),
 (280.0, -0.2021, -0.4865, 0.3785),
 (281.0, -0.2021, -0.4866, 0.3789),
 (282.0, -0.2031, -0.4863, 0.3772),
 (283.0, -0.2041, -0.4866, 0.3744),
 (284.0, -0.2031, -0.4882, 0.3748),
 (285.0, -0.2024, -0.4902, 0.3728),
 (286.0, -0.2039, -0.4917, 0.3716),
 (287.0, -0.207, -0.4911, 0.3711),
 (288.0, -0.207, -0.4902, 0.3684),
 (289.0, -0.207, -0.4908, 0.3669),
 (290.0, -0.2065, -0.4912, 0.3645),
 (291.0, -0.2068, -0.4916, 0.3613),
 (292.0, -0.2068, -0.4918, 0.3594),
 (293.0, -0.209, -0.4908, 0.3593),
 (294.0, -0.2075, -0.4902, 0.3584),
 (295.0, -0.207, -0.4913, 0.3574),
 (296.0, -0.2068, -0.4908, 0.3572),
 (297.0, -0.209, -0.4912, 0.3542),
 (298.0, -0.208, -0.4939, 0.3518),
 (299.0, -0.209, -0.4952, 0.3495),
 (300.0, -0.2085, -0.4949, 0.349),
 (301.0, -0.2075, -0.4946, 0.3499),
 (302.0, -0.2083, -0.4956, 0.3486),
 (303.0, -0.2079, -0.4941, 0.3468),
 (304.0, -0.2065, -0.4941, 0.3479),
 (305.0, -0.2075, -0.4944, 0.3474),
 (306.0, -0.2087, -0.4952, 0.3447),
 (307.0, -0.2095, -0.4944, 0.3459),
 (308.0, -0.2109, -0.4941, 0.3428),
 (309.0, -0.2104, -0.4919, 0.3438),
 (310.0, -0.2104, -0.4944, 0.3413),
 (311.0, -0.2114, -0.4951, 0.3425),
 (312.0, -0.2124, -0.4946, 0.3384),
 (313.0, -0.2119, -0.4922, 0.3364),
 (314.0, -0.2107, -0.4908, 0.3346),
 (315.0, -0.2104, -0.4922, 0.3354),
 (316.0, -0.2103, -0.4939, 0.3379),
 (317.0, -0.209, -0.4915, 0.3376),
 (318.0, -0.209, -0.4945, 0.3367),
 (319.0, -0.2075, -0.4958, 0.3372),
 (320.0, -0.2085, -0.4949, 0.3379),
 (321.0, -0.2078, -0.4932, 0.3398),
 (322.0, -0.2083, -0.4922, 0.3394),
 (323.0, -0.2085, -0.4922, 0.3369),
 (324.0, -0.2075, -0.4929, 0.3376),
 (325.0, -0.2065, -0.4928, 0.3383),
 (326.0, -0.207, -0.4908, 0.3403),
 (327.0, -0.208, -0.4911, 0.3401),
 (328.0, -0.2061, -0.4912, 0.3403),
 (329.0, -0.2065, -0.4912, 0.3406),
 (330.0, -0.2061, -0.4919, 0.3391),
 (331.0, -0.2048, -0.4934, 0.3392),
 (332.0, -0.207, -0.4918, 0.3379),
 (333.0, -0.2039, -0.4932, 0.3396),
 (334.0, -0.2041, -0.4928, 0.3423),
 (335.0, -0.2037, -0.4934, 0.3411),
 (336.0, -0.2034, -0.4946, 0.3446),
 (337.0, -0.2041, -0.4945, 0.3464),
 (338.0, -0.2041, -0.4929, 0.3481),
 (339.0, -0.2039, -0.4924, 0.3508),
 (340.0, -0.2039, -0.4918, 0.3474),
 (341.0, -0.2021, -0.4937, 0.3518),
 (342.0, -0.2009, -0.495, 0.3513),
 (343.0, -0.2004, -0.4932, 0.3525),
 (344.0, -0.2014, -0.4932, 0.3545),
 (345.0, -0.1992, -0.4949, 0.3589),
 (346.0, -0.1992, -0.4943, 0.3613),
 (347.0, -0.1987, -0.4949, 0.3584),
 (348.0, -0.1973, -0.4946, 0.3602),
 (349.0, -0.1963, -0.4957, 0.3608),
 (350.0, -0.196, -0.4962, 0.3625),
 (351.0, -0.1958, -0.4976, 0.3662),
 (352.0, -0.197, -0.4973, 0.3657),
 (353.0, -0.1963, -0.4958, 0.3665),
 (354.0, -0.1953, -0.4946, 0.3701),
 (355.0, -0.1958, -0.4941, 0.3723),
 (356.0, -0.1943, -0.4951, 0.3723),
 (357.0, -0.1943, -0.4929, 0.3726),
 (358.0, -0.1936, -0.4917, 0.3793),
 (359.0, -0.1943, -0.4917, 0.3815),
 (360.0, -0.1936, -0.4913, 0.3821),
 (361.0, -0.1924, -0.4921, 0.384),
 (362.0, -0.1929, -0.4901, 0.3872),
 (363.0, -0.1929, -0.4894, 0.3896),
 (364.0, -0.1909, -0.4915, 0.3928),
 (365.0, -0.1904, -0.4919, 0.3956),
 (366.0, -0.1919, -0.49, 0.397),
 (367.0, -0.1912, -0.4902, 0.3979),
 (368.0, -0.1904, -0.4895, 0.4021),
 (369.0, -0.1904, -0.4886, 0.4009),
 (370.0, -0.1919, -0.4879, 0.4015),
 (371.0, -0.1899, -0.4875, 0.4045),
 (372.0, -0.1892, -0.4871, 0.4048),
 (373.0, -0.1895, -0.4863, 0.4041),
 (374.0, -0.1892, -0.4849, 0.4089),
 (375.0, -0.1897, -0.4847, 0.4066),
 (376.0, -0.1887, -0.4829, 0.4092),
 (377.0, -0.1892, -0.4822, 0.4128),
 (378.0, -0.1893, -0.4812, 0.4111),
 (379.0, -0.1895, -0.4797, 0.4116),
 (380.0, -0.189, -0.4805, 0.4143),
 (381.0, -0.1892, -0.481, 0.4146),
 (382.0, -0.1887, -0.4813, 0.4175),
 (383.0, -0.189, -0.4791, 0.4167),
 (384.0, -0.1875, -0.479, 0.4185),
 (385.0, -0.1866, -0.478, 0.4178),
 (386.0, -0.1865, -0.4772, 0.416),
 (387.0, -0.1865, -0.4763, 0.4177),
 (388.0, -0.1846, -0.4768, 0.4182),
 (389.0, -0.1836, -0.475, 0.417),
 (390.0, -0.1814, -0.4751, 0.4197),
 (391.0, -0.1812, -0.475, 0.4207),
 (392.0, -0.1797, -0.4749, 0.4189),
 (393.0, -0.1792, -0.4734, 0.4185),
 (394.0, -0.1787, -0.4746, 0.4203),
 (395.0, -0.1777, -0.4736, 0.4213),
 (396.0, -0.1775, -0.4723, 0.4219),
 (397.0, -0.1761, -0.4718, 0.4227),
 (398.0, -0.1753, -0.4709, 0.4221),
 (399.0, -0.1748, -0.4724, 0.4209),
 (400.0, -0.1742, -0.4731, 0.4224),
 (401.0, -0.1746, -0.4736, 0.4197),
 (402.0, -0.1753, -0.4742, 0.4202),
 (403.0, -0.1729, -0.4755, 0.421),
 (404.0, -0.1748, -0.4729, 0.4194),
 (405.0, -0.1748, -0.4724, 0.4185),
 (406.0, -0.1725, -0.4719, 0.4163),
 (407.0, -0.1719, -0.4719, 0.4148),
 (408.0, -0.1702, -0.4729, 0.4133),
 (409.0, -0.1704, -0.4727, 0.4113),
 (410.0, -0.1699, -0.4727, 0.4102),
 (411.0, -0.1704, -0.4746, 0.4099),
 (412.0, -0.1699, -0.4749, 0.4069),
 (413.0, -0.1704, -0.4739, 0.4075),
 (414.0, -0.1714, -0.473, 0.4058),
 (415.0, -0.1704, -0.4736, 0.4053),
 (416.0, -0.1699, -0.4753, 0.4033),
 (417.0, -0.1689, -0.4766, 0.4075),
 (418.0, -0.1705, -0.4763, 0.4071),
 (419.0, -0.1689, -0.4766, 0.408),
 (420.0, -0.1689, -0.4763, 0.4098),
 (421.0, -0.1675, -0.4773, 0.4067),
 (422.0, -0.1685, -0.4778, 0.4073),
 (423.0, -0.1658, -0.4791, 0.4048),
 (424.0, -0.1665, -0.4797, 0.4069),
 (425.0, -0.1655, -0.4806, 0.4082),
 (426.0, -0.1675, -0.4801, 0.4094),
 (427.0, -0.1682, -0.4802, 0.4089),
 (428.0, -0.1685, -0.483, 0.4056),
 (429.0, -0.168, -0.4832, 0.4072),
 (430.0, -0.168, -0.4854, 0.4055),
 (431.0, -0.1689, -0.4867, 0.4048),
 (432.0, -0.1692, -0.4879, 0.4053),
 (433.0, -0.1697, -0.4878, 0.4037),
 (434.0, -0.1707, -0.489, 0.4038),
 (435.0, -0.1719, -0.4884, 0.4023),
 (436.0, -0.1719, -0.4895, 0.402),
 (437.0, -0.1733, -0.489, 0.4015),
 (438.0, -0.1743, -0.4895, 0.4009),
 (439.0, -0.1746, -0.4897, 0.3998),
 (440.0, -0.1753, -0.4895, 0.4006),
 (441.0, -0.1785, -0.4889, 0.3984),
 (442.0, -0.1792, -0.4886, 0.3987),
 (443.0, -0.1804, -0.489, 0.3979),
 (444.0, -0.1816, -0.4878, 0.3988),
 (445.0, -0.1816, -0.4875, 0.3982),
 (446.0, -0.1831, -0.4873, 0.3995),
 (447.0, -0.1836, -0.4868, 0.3975),
 (448.0, -0.1836, -0.4879, 0.3947),
 (449.0, -0.1858, -0.4904, 0.3911),
 (450.0, -0.1875, -0.4912, 0.3915),
 (451.0, -0.1904, -0.4912, 0.3885),
 (452.0, -0.1923, -0.491, 0.3875),
 (453.0, -0.1934, -0.4912, 0.3879),
 (454.0, -0.1934, -0.4919, 0.3879),
 (455.0, -0.1951, -0.4922, 0.3857),
 (456.0, -0.1968, -0.4924, 0.3867),
 (457.0, -0.1953, -0.4918, 0.3866),
 (458.0, -0.198, -0.4923, 0.3862),
 (459.0, -0.1992, -0.4928, 0.3857),
 (460.0, -0.2009, -0.4908, 0.3813),
 (461.0, -0.2021, -0.4908, 0.3796),
 (462.0, -0.2026, -0.4908, 0.3779),
 (463.0, -0.2026, -0.4912, 0.3759),
 (464.0, -0.2021, -0.4917, 0.3787),
 (465.0, -0.2051, -0.4915, 0.3788),
 (466.0, -0.2041, -0.4918, 0.3759),
 (467.0, -0.2048, -0.4929, 0.375),
 (468.0, -0.2073, -0.4932, 0.3716),
 (469.0, -0.207, -0.4951, 0.371),
 (470.0, -0.2085, -0.4954, 0.3672),
 (471.0, -0.2109, -0.4951, 0.3667),
 (472.0, -0.2104, -0.4955, 0.3662),
 (473.0, -0.2119, -0.495, 0.3677),
 (474.0, -0.2146, -0.4939, 0.3684),
 (475.0, -0.2136, -0.4939, 0.3676),
 (476.0, -0.2144, -0.4949, 0.3672),
 (477.0, -0.2147, -0.4946, 0.3635),
 (478.0, -0.2153, -0.4956, 0.3613),
 (479.0, -0.2144, -0.4958, 0.3599),
 (480.0, -0.2148, -0.4972, 0.3582),
 (481.0, -0.2148, -0.4978, 0.3525),
 (482.0, -0.2153, -0.4976, 0.3506),
 (483.0, -0.2139, -0.5, 0.3523),
 (484.0, -0.2144, -0.4993, 0.3525),
 (485.0, -0.2144, -0.4971, 0.3516),
 (486.0, -0.2139, -0.4968, 0.3522),
 (487.0, -0.2129, -0.4967, 0.3508),
 (488.0, -0.2144, -0.4963, 0.3477),
 (489.0, -0.2144, -0.4969, 0.3457),
 (490.0, -0.2137, -0.4998, 0.3459),
 (491.0, -0.2126, -0.5017, 0.3428),
 (492.0, -0.2119, -0.5031, 0.3428),
 (493.0, -0.2119, -0.502, 0.3398),
 (494.0, -0.2124, -0.5027, 0.3379),
 (495.0, -0.2104, -0.5037, 0.3368),
 (496.0, -0.2109, -0.5029, 0.3359),
 (497.0, -0.21, -0.5045, 0.3345),
 (498.0, -0.208, -0.5044, 0.3342),
 (499.0, -0.2061, -0.5046, 0.332),
 (500.0, -0.2065, -0.5044, 0.329),
 (501.0, -0.2056, -0.5035, 0.3271),
 (502.0, -0.2039, -0.5049, 0.3269),
 (503.0, -0.2031, -0.5051, 0.3267),
 (504.0, -0.2024, -0.5055, 0.3293),
 (505.0, -0.2015, -0.5056, 0.3264),
 (506.0, -0.1997, -0.5085, 0.3269),
 (507.0, -0.2017, -0.5093, 0.3247),
 (508.0, -0.2012, -0.5104, 0.3232),
 (509.0, -0.2017, -0.5087, 0.3191),
 (510.0, -0.199, -0.5109, 0.318),
 (511.0, -0.1981, -0.5129, 0.3154),
 (512.0, -0.1982, -0.5155, 0.3158),
 (513.0, -0.1973, -0.5173, 0.3154),
 (514.0, -0.1973, -0.5151, 0.3134),
 (515.0, -0.1947, -0.5138, 0.3152),
 (516.0, -0.1941, -0.5142, 0.3123),
 (517.0, -0.1924, -0.5125, 0.312),
 (518.0, -0.1903, -0.5106, 0.3097),
 (519.0, -0.189, -0.5078, 0.3086),
 (520.0, -0.187, -0.4775, 0.311),
 (521.0, -0.186, -0.4827, 0.3123),
 (522.0, -0.1895, -0.5188, 0.3134),
 (523.0, -0.1943, -0.5442, 0.3154),
 (524.0, -0.1987, -0.5602, 0.311),
 (525.0, -0.1982, -0.5662, 0.3004),
 (526.0, -0.2001, -0.5601, 0.2821),
 (527.0, -0.2004, -0.5513, 0.265),
 (528.0, -0.2012, -0.5427, 0.2505),
 (529.0, -0.1996, -0.5366, 0.2401),
 (530.0, -0.1963, -0.5303, 0.2346),
 (531.0, -0.1943, -0.522, 0.229),
 (532.0, -0.1924, -0.5154, 0.2361),
 (533.0, -0.1885, -0.5122, 0.2399),
 (534.0, -0.1868, -0.51, 0.2419),
 (535.0, -0.186, -0.5093, 0.2449),
 (536.0, -0.187, -0.5084, 0.2476),
 (537.0, -0.1868, -0.5083, 0.2515),
 (538.0, -0.1846, -0.5103, 0.2559),
 (539.0, -0.1826, -0.5134, 0.262),
 (540.0, -0.1816, -0.5193, 0.2665),
 (541.0, -0.1807, -0.5228, 0.274),
 (542.0, -0.1826, -0.5266, 0.2817),
 (543.0, -0.1831, -0.5311, 0.2839),
 (544.0, -0.1825, -0.5327, 0.2869),
 (545.0, -0.1821, -0.5327, 0.2904),
 (546.0, -0.1826, -0.5316, 0.2905),
 (547.0, -0.1835, -0.5325, 0.2908),
 (548.0, -0.1824, -0.5304, 0.2903),
 (549.0, -0.1831, -0.531, 0.2914),
 (550.0, -0.1826, -0.5303, 0.2905),
 (551.0, -0.1831, -0.528, 0.2903),
 (552.0, -0.183, -0.5287, 0.2899),
 (553.0, -0.1831, -0.5254, 0.292),
 (554.0, -0.1816, -0.5237, 0.291),
 (555.0, -0.183, -0.521, 0.2949),
 (556.0, -0.1824, -0.5192, 0.2954),
 (557.0, -0.1831, -0.5176, 0.2982),
 (558.0, -0.1831, -0.5181, 0.302),
 (559.0, -0.1836, -0.5197, 0.3049),
 (560.0, -0.1821, -0.522, 0.3088),
 (561.0, -0.1825, -0.5222, 0.3112),
 (562.0, -0.1816, -0.5231, 0.3134),

위 부분은 Csv 파일을 불러오고, Db에 적용시키기 위하여 튜플화를 시킨 후 저장한 것이다.

In [5]:
#sensor table
query= "insert into sensor (Sensor_id,sensor_type) values('1','accelerator')" #센서 테이블에 입력하는 쿼리, sensor_id 와 sensor_type에 1과 accelerator을 넣는다
cur.execute(query) #쿼리 실행하기
conn.commit() # Db에 적용

센서 테이블 삽입 과정이다. 실습과정을 기반으로 작성했으며, accelerator 하나만 센서가 존재하기 때문에, sensor_id를 1, sensor_type을 accelerator로 지정해서 쿼리를 실행했고, 이를 데이터 베이스에 적용했다.

In [6]:
#acceelerator 
query = "insert into accelerator (nSeq, PORT4_CHN1, PORT6_CHN1, PORT7_CHN1, sensor_id) values ( %s, %s, %s, %s, '1')" #accelerator 테이블에 입력, 센서와 동일하지만 attributes가 다르며, sensor_id 는 sensor table을 참조하며 1이라 디폴트 해놓는다.
cur.executemany(query, tupleData) #쿼리 실행
conn.commit() #적용

다음은 accelerator 테이블 삽입 과정인데, 센서와 큰 차이는 없고 실습과도 유사하지만, sensor_id가 추가 되었다는 차이가 있다. accelerator의 id 는 센서
테이블을 참고하면 1인 것을 알 수 있고, accelerator 안의 sensor_id 는 모두 1로 지정하면 된다. 그리고 나머지 attributes 에 대한 값은 위에서 csv 파일
을 통해 불러온 튜플을 지정해 삽입해주었다. 
sensor_id 가 Sensor 테이블의 Sensor_id를 참조했다 할 수 있다.

In [7]:
#register
registerTuple =[('1','PORT4_CHN1'),('2','PORT6_CHN1'),('3','PORT7_CHN1')] 
registerTuple
#register 테이블에 넣기 위해 포트 4 6 7 각각 1,2,3으로 묶어 튜플화 시킨다.

[('1', 'PORT4_CHN1'), ('2', 'PORT6_CHN1'), ('3', 'PORT7_CHN1')]

In [8]:
query = "insert into register (register_id, register_name, sensor_id) values (%s, %s, '1')" # sensor_id attributes가 있기 때문에, 이 부분은 1로 해놓는다.
cur.executemany(query,registerTuple) #%s 부분에는 위에 만든 registerTuple 데이터가 각각 들어가고 실행된다.
conn.commit()# Db에 적용

레지스터 테이블 삽입 과정이다. 마찬가지로 register_id, register_name을 넣어주기 위해 registerTuple을 지정해주어 넣어 준 것을 확인 할 수있다.
포트 4 6 7에 각각 register_id 는 1 2 3이 지정되고, 구현 사항에서 요구한 register 테이블과 센서 테이블의 연결을 하기 위해 레지스터 테이블
attributes 에 sensor_id 를 추가한다. 레지스터 테이블 같은 경우 accelerator 의 포트 4 6 7에 대한 내용이기 때문에, 논리 상 sensor_id 또한 1이라 할 수 있다. 
레지스터 테이블 내의 sensor_id 가 sensor 테이블의 Sensor_id 를 요구사항에 맞게 참조했다고 할 수 있다.

In [9]:
#timewindow

import numpy as np
import random #난수 발생을 하기 위해서 라이브러리 임포트
for i in range(300): #윈도우 인덱스를 300개 만들기 때문에 다음과 같이 300 반복
    x1= np.random.randint(0,30451,size=2) #2개의 난수를 추출하며, 범위는 data_idx 내로 설정한다. 다만 randint 함수 사용법에 따라 끝 부분에 1을 더해줘 30451로 한다.
    while(x1[0]==x1[1]): 
        x1=np.random.randint(0,30451,size=2) #다음과 같은 while 문은 2개의 난수를 뽑았을 떄 같은 난수가 나올 수 있기 때문에, 그 부분을 방지하는 반복문이다.
    x1.sort()  #작은 값-> 큰 값 순으로 x1을 정렬한다.
    print(x1) 
    
    query= "insert into timewindow (start_dataIdx,end_dataIdx) values (%s,%s)" #쿼리 생성, attributes는 다음과 같이 start, end로 구성
    cur.execute(query, (x1[0],x1[1])) # %s 에 각각 x1[0], x1[1]이 들어가며  x1[0],x[1]은 각각 생성된 난수 작은값 큰 값 차례로 들어가 있다.
    conn.commit() # Db에 적용

[ 1283 21903]
[ 2473 10159]
[ 3258 21902]
[ 1442 10362]
[21002 27513]
[12946 13122]
[11730 29073]
[ 5077 17449]
[16133 29312]
[8256 9493]
[ 3606 14389]
[ 7866 16119]
[11609 20823]
[13473 20613]
[14107 28458]
[1497 5499]
[ 4273 22349]
[ 3525 10014]
[12362 16589]
[4936 9545]
[ 9833 21035]
[ 6116 19991]
[13519 29675]
[1373 7852]
[11109 24158]
[ 3126 22222]
[ 5658 15058]
[ 4747 24502]
[20716 26979]
[ 2207 12490]
[1550 7525]
[20815 30123]
[ 3161 27844]
[16589 25201]
[ 8626 11868]
[13532 25014]
[ 3126 17897]
[ 5761 17498]
[13470 24879]
[ 9618 20592]
[20638 27926]
[ 646 2237]
[13741 21775]
[ 7282 17832]
[ 5051 22974]
[ 8345 29302]
[ 4602 27793]
[ 323 9825]
[20269 21874]
[15363 29920]
[11007 26397]
[10616 20698]
[14293 19036]
[ 3650 20330]
[1619 9136]
[ 2269 10617]
[ 6204 16863]
[ 3699 29008]
[22104 30059]
[27233 27381]
[21725 24610]
[2316 9572]
[ 6327 12199]
[14418 30356]
[ 4342 27480]
[6563 8527]
[ 4403 18407]
[17492 29207]
[ 1591 13189]
[  442 25604]
[ 4647 24762]
[  368 10790]
[16429 26133]
[ 5670 22220]
[ 3765 24432]
[13809 27584]
[15433 20672]
[ 9297 21781]
[ 8286 19313]
[12923 28897]
[ 4194 26879]
[18787 27621]
[ 1004 17063]
[ 2824 25257]
[10722 11949]
[20391 29964]
[  45 2481]
[21606 27541]
[26420 29605]
[ 4482 19842]
[ 4709 23078]
[19286 22556]
[15134 26986]
[2769 5721]
[ 9577 11467]
[ 9864 20871]
[ 1317 24900]
[14105 19195]
[ 6040 20449]
[ 4304 19174]
[25164 28894]
[  422 17633]
[4176 8320]
[17064 18669]
[ 4629 21972]
[15530 30240]
[14925 29246]
[ 7973 13373]
[  693 27764]
[ 9079 17693]
[  184 20477]
[198 957]
[ 6247 24210]
[24186 30160]
[19487 22036]
[  397 29666]
[ 332 3502]
[20029 28613]
[14675 30419]
[ 4077 11983]
[17358 20654]
[15290 28821]
[ 7851 26550]
[ 5320 28353]
[13875 17464]
[ 2123 28250]
[ 1062 27167]
[ 4390 23784]
[19926 22711]
[ 7570 11728]
[14947 24939]
[ 4799 11234]
[14366 24743]
[12718 28753]
[15366 21901]
[15396 18745]
[ 3669 30204]
[27018 28126]
[ 8566 24345]
[17427 25272]
[ 7068 17458]
[ 5899 11746]
[10643 12565]
[29263 29913]
[ 6175 22765]
[3224 7719]
[ 5177 10799]
[19715 20945]
[20295 29453]
[14380 23026]
[17687 25495]
[ 9272 26749]
[16890 23044]
[ 4711 20666]
[19504 24511]
[ 5807 24516]
[8436 9636]
[ 1673 25466]
[16989 20600]
[ 7715 11095]
[ 1966 14691]
[10596 19883]
[ 3424 18898]
[ 7214 15705]
[21611 29920]
[8132 9958]
[ 7707 23403]
[18533 23957]
[ 7642 26252]
[ 8714 21284]
[17394 30136]
[ 4652 20868]
[4586 5250]
[13749 30256]
[14859 18954]
[ 814 1004]
[17967 28717]
[3834 6017]
[23319 27007]
[13639 27501]
[ 5280 18453]
[ 6104 27756]
[ 3188 26858]
[19175 19879]
[23009 29604]
[10353 23966]
[ 1670 24952]
[18785 29418]
[ 3673 12113]
[  751 25132]
[14283 21065]
[ 2049 13559]
[6581 8079]
[15586 17717]
[21810 28974]
[12020 26522]
[ 9868 28645]
[ 6893 30019]
[16096 23771]
[1027 2686]
[1478 8903]
[ 3466 12885]
[ 4360 25125]
[ 1907 13705]
[ 2142 13201]
[ 8036 30165]
[ 2542 18832]
[  958 10729]
[2489 4071]
[24448 29376]
[26605 28588]
[26782 28789]
[14169 21327]
[ 2411 10443]
[ 7226 19074]
[19478 25935]
[19914 30249]
[10631 14895]
[ 1862 14769]
[21808 26809]
[  812 27123]
[11998 16849]
[ 3005 13955]
[11522 26123]
[ 9438 27908]
[21837 26273]
[  496 11778]
[14742 27895]
[ 3342 27922]
[ 5311 26614]
[379 561]
[ 1730 20292]
[20041 21317]
[ 8287 20997]
[ 6003 22767]
[18509 28207]
[10529 26615]
[ 5439 23043]
[ 5958 16169]
[4978 8296]
[ 7358 21544]
[16581 20784]
[1656 4234]
[ 1876 20771]
[ 6063 22899]
[8662 9642]
[23262 25177]
[ 2533 11891]
[ 7983 12394]
[15238 18336]
[ 1286 10726]
[ 5380 14026]
[ 9247 13040]
[ 5638 13885]
[ 5229 25265]
[25019 26096]
[ 8924 25707]
[ 8394 14535]
[14363 23809]
[ 9177 24238]
[ 5927 20718]
[20016 21039]
[23066 23132]
[4217 4813]
[14373 22118]
[14243 24433]
[ 1932 23963]
[ 7671 19425]
[23997 24137]
[ 3317 27393]
[ 8678 18228]
[ 5786 28018]
[18812 25753]
[18489 23933]
[ 2273 28887]
[ 5361 24158]
[3656 7207]
[ 2488 14138]
[15912 21855]
[ 4013 24109]
[  489 26954]
[ 2019 10135]
[17713 26105]
[13384 24935]
[20784 20982]
[11612 13004]
[ 1275 26908]
[ 4213 19854]
[13368 20590]
[1659 6105]
[16096 16139]
[10694 11018]
[ 8138 27610]
[  184 13830]
[ 4158 20082]
[18682 25625]
[ 787 7084]
[22628 27785]
[15003 24041]
[ 4515 19149]

다음은 타임윈도우 테이블을 삽입 하는 과정인데, 여기서 부턴 자신이 정한 근거에 따라서 start_idx 와 end_idx를 지정해서 총 300개의 섹션을 만들어야 된다. 
다양한 기준이 있을 수 있겠지만, 본인은 반복문으로 일단 300개를 반복하며 300개의 window_idx를 만들고 각 인덱스마다 랜덤 난수 2개를 data_idx 범위 내의 값 즉 30450 내에서 난수를 2개 뽑는다. 2개가 같은 같으로 나올 수 있기 때문에 while문을 통해 같은 난수 2개가 뽑히지 않게 제약을 걸어주었다.
논리적으로 start_dataIdx < end_dataIdx 여야 하기 때문에 sort를 통해 값을 정렬해 두개의 난 수 중 작은 값이 start ,큰 값이 end로 지정되게 하였다. 이후 각각 쿼리에 넣어주어 타임윈도우 테이블에 넣어준다.

In [10]:
#statistic
query= "SELECT register_name FROM register" #register_name을 찾아와서 
cur.execute(query)
regname= cur.fetchall() #regname에 저장
print(regname) # 프린트 해보기

(('PORT4_CHN1',), ('PORT6_CHN1',), ('PORT7_CHN1',))

In [11]:
query= "SELECT start_dataIdx, end_dataIdx FROM timewindow"
cur.execute(query)
winame=cur.fetchall()
print(winame)

((1283, 21903), (2473, 10159), (3258, 21902), (1442, 10362), (21002, 27513), (12946, 13122), (11730, 29073), (5077, 17449), (16133, 29312), (8256, 9493), (3606, 14389), (7866, 16119), (11609, 20823), (13473, 20613), (14107, 28458), (1497, 5499), (4273, 22349), (3525, 10014), (12362, 16589), (4936, 9545), (9833, 21035), (6116, 19991), (13519, 29675), (1373, 7852), (11109, 24158), (3126, 22222), (5658, 15058), (4747, 24502), (20716, 26979), (2207, 12490), (1550, 7525), (20815, 30123), (3161, 27844), (16589, 25201), (8626, 11868), (13532, 25014), (3126, 17897), (5761, 17498), (13470, 24879), (9618, 20592), (20638, 27926), (646, 2237), (13741, 21775), (7282, 17832), (5051, 22974), (8345, 29302), (4602, 27793), (323, 9825), (20269, 21874), (15363, 29920), (11007, 26397), (10616, 20698), (14293, 19036), (3650, 20330), (1619, 9136), (2269, 10617), (6204, 16863), (3699, 29008), (22104, 30059), (27233, 27381), (21725, 24610), (2316, 9572), (6327, 12199), (14418, 30356), (4342, 27480), (6563, 8527), (4403, 18407), (17492, 29207), (1591, 13189), (442, 25604), (4647, 24762), (368, 10790), (16429, 26133), (5670, 22220), (3765, 24432), (13809, 27584), (15433, 20672), (9297, 21781), (8286, 19313), (12923, 28897), (4194, 26879), (18787, 27621), (1004, 17063), (2824, 25257), (10722, 11949), (20391, 29964), (45, 2481), (21606, 27541), (26420, 29605), (4482, 19842), (4709, 23078), (19286, 22556), (15134, 26986), (2769, 5721), (9577, 11467), (9864, 20871), (1317, 24900), (14105, 19195), (6040, 20449), (4304, 19174), (25164, 28894), (422, 17633), (4176, 8320), (17064, 18669), (4629, 21972), (15530, 30240), (14925, 29246), (7973, 13373), (693, 27764), (9079, 17693), (184, 20477), (198, 957), (6247, 24210), (24186, 30160), (19487, 22036), (397, 29666), (332, 3502), (20029, 28613), (14675, 30419), (4077, 11983), (17358, 20654), (15290, 28821), (7851, 26550), (5320, 28353), (13875, 17464), (2123, 28250), (1062, 27167), (4390, 23784), (19926, 22711), (7570, 11728), (14947, 24939), (4799, 11234), (14366, 24743), (12718, 28753), (15366, 21901), (15396, 18745), (3669, 30204), (27018, 28126), (8566, 24345), (17427, 25272), (7068, 17458), (5899, 11746), (10643, 12565), (29263, 29913), (6175, 22765), (3224, 7719), (5177, 10799), (19715, 20945), (20295, 29453), (14380, 23026), (17687, 25495), (9272, 26749), (16890, 23044), (4711, 20666), (19504, 24511), (5807, 24516), (8436, 9636), (1673, 25466), (16989, 20600), (7715, 11095), (1966, 14691), (10596, 19883), (3424, 18898), (7214, 15705), (21611, 29920), (8132, 9958), (7707, 23403), (18533, 23957), (7642, 26252), (8714, 21284), (17394, 30136), (4652, 20868), (4586, 5250), (13749, 30256), (14859, 18954), (814, 1004), (17967, 28717), (3834, 6017), (23319, 27007), (13639, 27501), (5280, 18453), (6104, 27756), (3188, 26858), (19175, 19879), (23009, 29604), (10353, 23966), (1670, 24952), (18785, 29418), (3673, 12113), (751, 25132), (14283, 21065), (2049, 13559), (6581, 8079), (15586, 17717), (21810, 28974), (12020, 26522), (9868, 28645), (6893, 30019), (16096, 23771), (1027, 2686), (1478, 8903), (3466, 12885), (4360, 25125), (1907, 13705), (2142, 13201), (8036, 30165), (2542, 18832), (958, 10729), (2489, 4071), (24448, 29376), (26605, 28588), (26782, 28789), (14169, 21327), (2411, 10443), (7226, 19074), (19478, 25935), (19914, 30249), (10631, 14895), (1862, 14769), (21808, 26809), (812, 27123), (11998, 16849), (3005, 13955), (11522, 26123), (9438, 27908), (21837, 26273), (496, 11778), (14742, 27895), (3342, 27922), (5311, 26614), (379, 561), (1730, 20292), (20041, 21317), (8287, 20997), (6003, 22767), (18509, 28207), (10529, 26615), (5439, 23043), (5958, 16169), (4978, 8296), (7358, 21544), (16581, 20784), (1656, 4234), (1876, 20771), (6063, 22899), (8662, 9642), (23262, 25177), (2533, 11891), (7983, 12394), (15238, 18336), (1286, 10726), (5380, 14026), (9247, 13040), (5638, 13885), (5229, 25265), (25019, 26096), (8924, 25707), (8394, 14535), (14363, 23809), (9177, 24238), (5927, 20718), (20016, 21039), (23066, 23132), (4217, 4813), (14373, 22118), (14243, 24433), (1932, 23963), (7671, 19425), (23997, 24137), (3317, 27393), (8678, 18228), (5786, 28018), (18812, 25753), (18489, 23933), (2273, 28887), (5361, 24158), (3656, 7207), (2488, 14138), (15912, 21855), (4013, 24109), (489, 26954), (2019, 10135), (17713, 26105), (13384, 24935), (20784, 20982), (11612, 13004), (1275, 26908), (4213, 19854), (13368, 20590), (1659, 6105), (16096, 16139), (10694, 11018), (8138, 27610), (184, 13830), (4158, 20082), (18682, 25625), (787, 7084), (22628, 27785), (15003, 24041), (4515, 19149))

파트 1에서 생각해놨지만, statistic 테이블 같은 경우,  register테이블과  timewindow 테이블을 참조해야될 필요가 있다. 
이를 활용하기 위해 위와 같은 코드를 통해 레지스터 테이블의 registe_name 과 타임 윈도우 테이블의 start end Idx를 불러와서 각각 regname, winame에
저장한다. 출력을 확인해보면, regname같은 경우 포트 4 6 7 이 들어온 것을 확인할 수 있고, winame같은 경우 window_idx 크기인 300개 만큼의 start_Idx end_Idx 쌍이 저장되어 출력되는 것을 확인할 수 있다.

In [12]:
for i in regname: #위에서 저장한 regname 탐색
    if i ==regname[0]:# 포트 4일 경우
        idx=1 #window_idx를 위한 idx 1 선언
        for w in winame: #반복문을 통해 start-end Idx 쌍 탐색
            query_select = "SELECT AVG(PORT4_CHN1), SUM(PORT4_CHN1), COUNT(PORT4_CHN1) FROM accelerator WHERE data_idx BETWEEN %s AND %s"
            #포트 4의 AVG SUM COUNT 값을 선택한다. accelerator의 data_idx 중 밑에 execute 문에 보이지만 w[0] w[1] 만큼의 범위, start-endIdx 내의 범위로 한정한다.
            cur.execute(query_select,(w[0],w[1])) 
            result=cur.fetchall() #result 에 저장한다.
            query_insert= "insert into statistic ( mean, sum, count, reg_id, window_idx) values (%s, %s, %s, %s, %s)"#스태티스틱 테이블에 넣기 위해 쿼리 생성
            cur.execute(query_insert, (result[0][0], result[0][1], result[0][2],'1',idx)) # mean sum count 경우 result에 저장한 값을 가져오면 되고, reg_id는 포트 4이기 때문에 1, idx는
            idx+=1 #idx 같은 경우는 winame 만큼 합산되니 1-300까지 존재하고, 이것이 window_idx가 된다.
    elif i ==regname[1]: #포트 6일 경우 이며 위와 동일
        idx=1
        for w in winame:
            query_select = "SELECT AVG(PORT6_CHN1), SUM(PORT6_CHN1), COUNT(PORT6_CHN1) FROM accelerator WHERE data_idx BETWEEN %s AND %s"
            cur.execute(query_select,(w[0],w[1]))
            result=cur.fetchall()
            query_insert= "insert into statistic ( mean, sum, count, reg_id, window_idx) values (%s, %s, %s, %s, %s)"
            cur.execute(query_insert, (result[0][0], result[0][1], result[0][2],'2',idx))
            idx+=1        
    elif i ==regname[2]:#포트 7일 경우이며, 위와 동일
        idx=1
        for w in winame:
            query_select = "SELECT AVG(PORT7_CHN1), SUM(PORT7_CHN1), COUNT(PORT7_CHN1) FROM accelerator WHERE data_idx BETWEEN %s AND %s"
            cur.execute(query_select,(w[0],w[1]))
            result=cur.fetchall()
            query_insert= "insert into statistic ( mean, sum, count, reg_id, window_idx) values (%s, %s, %s, %s, %s)"
            cur.execute(query_insert, (result[0][0], result[0][1], result[0][2],'3',idx))
            idx+=1
    conn.commit() #Db에 적용한다.

가장 까다로웠던 statistic 테이블이다. 먼저 테이블을 구성할 때 포트 별로 avg sum count attributes 를 구성해 나눠서 구축해볼까 생각했지만, 그렇게 될경우
불필요하게 attributes가 늘어나고, avg sum count 세개로 진행해도, reg_id 참조를 통해 포트 이름을 구분할 수 있기 때문에 위와 같은 방식으로 구축하기로 선택했다. 위에서 저장한 regname을 돌면서 포트 별로 탐색을 했으며, idx를 각 포트별로 반복문에 넣어주며 1-300까지 구성하게 하여 window_idx를 나타내게 하였다. result 부분을 통해서 레지스터 별 avg sum count을 저장했으며, query_insert를 통해 result 값을 넣어줬다. reg_id 는 포트 별로 1,2,3 idx는 순차대로 1-300 1-300 1-300이 반복되어 총 900개의 열이 생기게 된다. 데이터를 db에 넣기 전 외래키로 설정한 데이터를 가져오고, reg_id 의 경우 레지스터 테이블의 register_id 를 참조, window_idx 같은 경우 timewindow 테이블의 window_idx를 참조했다고 할 수 있다. 레지스터 아이디 별로 레지스터 네임이 달라 이를 분류하는 부분과 윈도우 idx를 레지스터 별로 각각 넣어줘 레지스터 별로 윈도우 만큼 1-300까지 나타나게 하는 부분이 생각이 필요하였다.

### 3) Code to check the contents of each table

- Accelerator
- Sensor
- Register
- Timewindow
- Statistic

In [13]:
#sensor
query = "SELECT * FROM sensor"
cur.execute(query)
senresult= cur.fetchall()
pd.DataFrame(senresult,columns=['Sensor_id','sensor_type'])

   Sensor_id  sensor_type
0          1  accelerator

위는 sensor테이블을 확인하는 부분이며, 가시적으로 보기 좋게 하기 위해서 데이터 프레임화 시켜 확인해보았다.
잘 들어가 있는 것을 확인할 수 있다.

In [14]:
#acceleratior
query = "SELECT * FROM accelerator"
cur.execute(query)
accresult= cur.fetchall()
pd.DataFrame(accresult,columns=['data_idx','nSeq', 'PORT4_CHN1','PORT6_CHN1','PORT7_CHN1','sensor_id'])

       data_idx   nSeq  PORT4_CHN1  PORT6_CHN1  PORT7_CHN1  sensor_id
0             1      0     -0.2087     -0.4806      0.3770          1
1             2      1     -0.2104     -0.4819      0.3759          1
2             3      2     -0.2103     -0.4822      0.3798          1
3             4      3     -0.2119     -0.4819      0.3806          1
4             5      4     -0.2148     -0.4812      0.3823          1
...         ...    ...         ...         ...         ...        ...
30445     30446  30445     -0.0059     -0.6162      0.1777          1
30446     30447  30446     -0.0034     -0.6157      0.1780          1
30447     30448  30447     -0.0037     -0.6145      0.1772          1
30448     30449  30448      0.0000     -0.6157      0.1820          1
30449     30450  30449      0.0005     -0.6144      0.1855          1

[30450 rows x 6 columns]

위는 accelerator 테이블을 확인하는 부분이며, 30450만큼 추가되어 잇는 것을 알 수 있고, 실습과는 다르게 sensor_id가 1로 추가되어 있는 것을 확인할 수 있다.

In [15]:
#register
query = "SELECT * FROM register"
cur.execute(query)
regresult= cur.fetchall()
pd.DataFrame(regresult,columns=['register_id','register_name','sensor_id'])

   register_id register_name  sensor_id
0            1    PORT4_CHN1          1
1            2    PORT6_CHN1          1
2            3    PORT7_CHN1          1

위는 레지스터 테이블을 확인한 부분이며, 포트 4 6 7 에 각각 register_id로 1 2 3 이 지정되어있는 것을 확인할 수 있다.

In [16]:
#statistic
query = "SELECT * FROM statistic"
cur.execute(query)
staresult= cur.fetchall()
pd.DataFrame(staresult,columns=['statistic_idx','mean','sum','count','reg_id','window_idx'])

     statistic_idx      mean        sum  count  reg_id  window_idx
0                1  0.020789   428.6940  20621       1           1
1                2  0.059261   455.5410   7687       1           2
2                3  0.017163   320.0050  18645       1           3
3                4  0.049976   445.8380   8921       1           4
4                5 -0.003924   -25.5547   6512       1           5
..             ...       ...        ...    ...     ...         ...
895            896 -0.159209 -1105.5500   6944       3         296
896            897 -0.085167  -536.3850   6298       3         297
897            898 -0.172024  -887.3000   5158       3         298
898            899 -0.121898 -1101.8300   9039       3         299
899            900 -0.079766 -1167.3700  14635       3         300

[900 rows x 6 columns]

statistic 테이블을 확인한 부분이다. 위에서 설명했듯이, reg_id 를 보면 처음에는 포트 4를 돌기 때문에 1이며 window_idx 또한 1로 시작한다. 이후 window_idx 가 300이 되면 그 다음 window_idx는 1로 초기화 되며, reg_id는 2로 바뀐다. 즉 포트 6를 돌며 mean sum count값을 도출하는 것이다. 이후 같은 루트대로 돌아 포트 7까지 돌게 된다. 따라서 statistic_idx 는 포트 3개와 각 포트 탐색마다 윈도우 인덱스 만큼인 300개를 돌기 때문에 3*300
즉 900개의 열이 나오게 된다.

In [17]:
#timewindow
query = "SELECT * FROM timewindow"
cur.execute(query)
timresult= cur.fetchall()
pd.DataFrame(timresult,columns=['window_idx','start_dataIdx','end_dataIdx'])

     window_idx  start_dataIdx  end_dataIdx
0             1           1283        21903
1             2           2473        10159
2             3           3258        21902
3             4           1442        10362
4             5          21002        27513
..          ...            ...          ...
295         296          18682        25625
296         297            787         7084
297         298          22628        27785
298         299          15003        24041
299         300           4515        19149

[300 rows x 3 columns]

timewindow 테이블을 확인한 부분이다. 중점적으로 볼 부분은 start_dataIdx, end_dataIdx가 난수로 2개 생성되어 총 window_idx가 300개 원하는 조건대로 알맞게 잘 들어간 것을 볼 수 있다. 또한 sort를 사용했기 때문에 start 에 지정된 값이 end 에 지정된 값보다 항상 작은 것을 확인할 수 있다.

In [107]:
conn.close()

### 4) (Free) Search table

After defining five arbitrary conditions, search for tuples that satisfy the condition in the statistic table.

A) Condition 1

 본인만의 방식을 정해 자유롭게 5가지의 조건을 statistic table에 적용한다. 조건을 만족하는 데이터를 찾아 몇개 존재하는지 확인해 보았다.

A 방법)레지스터 전체 평균< 윈도우 인덱스별 평균인 윈도우의 개수
즉 각 레지스터의 전체 평균보다 큰 윈도우의 개수 탐색

In [101]:
query= " SELECT AVG(PORT4_CHN1), AVG(PORT6_CHN1), AVG(PORT7_CHN1) FROM accelerator WHERE data_idx " #accelerator 테이블 내에서 포트 4, 6, 7 각각의 평균값을 구한다.
#각 레지스터 별로 인덱스 범위는 전체로 구성한다.
cur.execute(query) #쿼리 실행
result= cur.fetchall() #resultdp 도출된 값 저장
print(result)
print(result[0])
print(result[0][1])# 확인

OperationalError: (2006, "MySQL server has gone away (BrokenPipeError(32, 'Broken pipe'))")

위 코드 보고서 쓰면서 실행을 잘못 눌러서 오류 떠있는걸로 나오는데, 실행 잘되는 코드입니다..!!

In [53]:
for i in result[0]: # 레지스터 별로 돈다
    if i == result[0][0]:#포트 4의 평균 값을 돌때 
        query = "SELECT COUNT(mean) FROM statistic WHERE reg_id='1' AND mean>%s" #statistic 테이블 내의 mean column 내의 값을 카운트한다. 대신 제약 조건은 reg_id=1이며, 포트 4의 전체 편균보다 큰 데이터를 가진 mean column의 인덱스 여야지만
        #카운트한다.
        print("accelerator port4의 평균 값인 -0.00078보다 큰 평균을 가지고 있는 윈도우의 개수") 
        cur.execute(query,result[0][0]) #%s 에 넣을 값은 result[0][0]즉 포트 4의 전체 평균 값이다.
        
    elif i == result[0][1]:#포트 6의 평균 값을 돌때, 방식은 위와 동일
        query = "SELECT COUNT(mean) FROM statistic WHERE reg_id='2' AND mean>%s"
        print("accelerator port6의 평균 값인 0.421보다 큰 평균을 가지고 있는 윈도우의 개수")
        cur.execute(query,result[0][1])  
    elif i == result[0][2]:#포트 7의 평균 값을 돌때, 방식은 위와 동일
        query = "SELECT COUNT(mean) FROM statistic WHERE reg_id='3' AND mean>%s"
        print("accelerator port7의 평균 값인 -0.070보다 큰 평균을 가지고 있는 윈도우의 개수")      
        cur.execute(query,result[0][2]) 
       
    result1=cur.fetchall() #나온 결과를 result1에 저장
    print(result1[0])#프린트 해보기

accelerator port4의 평균 값인 -0.00078보다 큰 평균을 가지고 있는 윈도우의 개수
(190,)
accelerator port6의 평균 값인 0.421보다 큰 평균을 가지고 있는 윈도우의 개수
(163,)
accelerator port7의 평균 값인 -0.070보다 큰 평균을 가지고 있는 윈도우의 개수
(66,)

A 방법에서는 먼저 accelerator의 토프 4 6 7에 대한 각각의 레지스터 당 평균을 도출해냈다. 이를 이용해서 각 레지스터 별로 반복문을 돌때 statistic 내의 mean column 안의 데이터와 비교해서 mean column안 데이터가 더 크다면, 카운트해서 저장하게 했다. 또한 reg_id 를 통해 포트별로 나눠서 판단할 수 있도록 제약 조건을 걸었다. 결과를 보았을 때 포트 4에서는 190개, 포트 6에서는 163개 포트 7에서는 66개가 존재했다.
각 레지스터 마다 300개의 인덱스가 존재하기 때문에 비율로 따지면 각각 63%,  54.3%, 22%다. 
이를 통해 확인할 수 있는 점은 statistic 테이블에서 윈도우를 통해 파싱된 포트 4 6 은 평균보다 큰 값들이 많이 존재하고 있다는 점을 알 수 있고 포트 7 같은 경우 -0.07 보다 작은 값이 많다 생각할 수 있으며 포트 7에는 음수인 데이터 값이 많이 존재한다 추측할 수 있다. 물론 window의 start-end idx 자체를 random하게 뽑아내었기 때문에, 정확한 분석이라 할 수 없다. 그렇기 때문에 방금 가정한 포트 7에는 음수인 부분이 많이 존재하는지 알아보기 위해 밑에서 다른 가정을 통해 분석을 진행해보겠다.

B) Condition 2

각 레지스터 별로 윈도우 구간 합이 0보다 큰 윈도우 개수

In [56]:
reg_id =[1,2,3]
reg_id[0]

1

In [57]:
for i in reg_id:
    if i == reg_id[0]: #포트 4를 돌때
        query = "SELECT COUNT(sum) FROM statistic WHERE reg_id='1' AND sum>0" #이번에는 sum column의 데이터 값을 count 하는데, 제약조건은
        # reg_id 와 sum column 의 데이터 값이 0보다 클 경우에만 카운트 하는 것이다.
        print("statistic 테이블 port4 윈도우 구간 합이 0보다 큰 윈도우의 개수")
        cur.execute(query) 
        
    elif i == reg_id[1]:#포트 6을 돌때 , 밑은 위와 동일
        query = "SELECT COUNT(sum) FROM statistic WHERE reg_id='2' AND sum>0"
        print("statistic 테이블 port6 윈도우 구간 합이 0보다 큰 윈도우의 개수")
        cur.execute(query)  
    elif i == reg_id[2]: #포트 7을 돌때, 밑은 위와 동일
        query = "SELECT COUNT(sum) FROM statistic WHERE reg_id='3' AND sum>0"
        print("statistic 테이블 port7 윈도우 구간 합이 0보다 큰 윈도우의 개수")      
        cur.execute(query) 
       
    result1=cur.fetchall() #카운트 해서 나온 결과를 result1에 저장하고 프린트
    print(result1[0])

statistic 테이블 port4 윈도우 구간 합이 0보다 큰 윈도우의 개수
(187,)
statistic 테이블 port6 윈도우 구간 합이 0보다 큰 윈도우의 개수
(278,)
statistic 테이블 port7 윈도우 구간 합이 0보다 큰 윈도우의 개수
(14,)

이번에는 sum column 내의 데이터 값을 활용하여 탐색을 진행해 보았다. 일단 먼저 sum column 내의 데이터 같은 경우 레지스터 별로 나눠져있으며 각각 300개의 윈도우 섹션이 존재하여 각 인덱스 마다 랜덤으로 파싱한 구간 내의 데이터들을 합친 값이 존재한다.
코드 분석은 위의 주석을 통해 전반적으로 진행했으며, 결과를 분석해보면, 포트 4에서는 제약 조건을 만족하는 윈도우의 갯수가 187개 포트 6에서는 278개 이며, 포트 7에서는 14개 밖에 존재하지 않는다. 
비율로 확인하면 포트 4는 62.3% 포트 6는 92.6% 포트 7은 4.6% 정도이다. 포트 7이 압도적으로 낮은 것을 알 수 있다.
다음과 같은 제약 조건을 통해 도출할 수 있는 점은, A 조건과 연계하여 생각해봤을 때 포트 7에는 음수인 데이터가 상대적으로 훨씬 많이 존재하기 때문에 다음과 같은 제약 조건 즉 sum 을 하게될 경우 0보다 훨씬 작아질 수 밖에 없다. 랜덤으로 구간을 파싱해 윈도우 인덱스 별로 구간을 설정했지만 다음과 같은 근거를 들어 본인의 가정에 힘을 실을 수 있다. B 조건을 진행하면서 랜덤으로 구간을 파싱했기 때문에, 각 윈도우 인덱스 마다 start-end 사이 구간도 천차 만별로 다를 수 있을 거 같다는 생각이 들었고, 이는 분석과 가정에 영향을 줄 수 있다는 생각이 들어 구간을 제약 조건으로 걸어 알아보는 분석을 진행하도록 하겠다.

C) Condition 3

각 레지스터 별로, count의 평균 값을 내고 평균 count의 크기보다 큰 count를 가지는 윈도우의 개수

In [65]:
for i in range(3):
    query= "SELECT AVG(count) FROM statistic WHERE reg_id=%s"
    cur.execute(query,i+1)
    result= cur.fetchall()
    print(result[0])

(Decimal('10779.3567'),)
(Decimal('10779.3567'),)
(Decimal('10779.3567'),)

각 레지스터 별로 count의 평균을 내보았는데, 레지스터는 다르지만 파싱한 윈도우 인덱스 별 구간은 동일하기 때문에, 결과가 레지스터별로 다 똑같은 점을 확인할 수 있다.

In [67]:

    query = "SELECT COUNT(count) FROM statistic WHERE reg_id='1' AND count>%s" # 레지스터가 달라도 같은 값이 도출될거기 때문에 포트 4를 기준으로 하나만 파악해보았다.
    # 이번에는 count 열의 데이터들을 카운트했으며, 제약조건은 위에서 저장한 result[0] 보다 클 경우에만 카운트한다.
    print("평균 count의 크기보다 큰 count를 가지는 윈도우의 개수")
    cur.execute(query,result[0]) 
    result1=cur.fetchall()
    print(result1[0])

평균 count의 크기보다 큰 count를 가지는 윈도우의 개수
(135,)

코드 분석은 주석을 통해 대체하겠다. 이번에는 count 열을 이용한 분석을 진행해보았다. count 의 평균 값을 먼저 계산 해보았는데, 10779 정도가 나왔다. 이는 
파싱된 윈도우 인덱스 에서 start-end 사이 구간 값의 평균이 10779 라는 것이다. 랜덤으로 start-end idx를 구성했기 때문에 인덱스 별로 천차 만별 구간 값이 존재 할 것이다. 평균 구간 값보다 큰 구간 값을 가지는 윈도우 인덱스의 개수를 구했을 때 135개 
비율로 따지면 45% 정도이다. 평균보다 작은 구간을 가지는 인덱스의 비율이 55%라는 점에서 고르게 분포했다고 생각할 수 있지만, 앞서 말햇듯이 구간 크기가 천차 만별이기 때문에 스태티스틱 테이블의 mean sum 값에 영향을 줄 수 있기 때문에 statistic 테이블의 mean sum 을 가지고 가정 혹은 분석을 진행할 때 섣부르게 판단 할 수 없을 것이다. 이왁 같은 상황을 막기 위해서 뒤에 다시 설명하겠지만 start-end idx를 선택하는 부분에 있어서 구간을 특정 값으로 진행해서 파싱을 진행했으면 좋을 것이다. 
마지막으로 C 분석을 통해 대략적인 파싱 구간의 크기를 예측할 수 있었다.

D) Condition 4

각 레지스터별 sum을 해 값을 도출하고, 그 값보다 큰 sum을 가진 윈도우 개수

In [68]:
query= " SELECT SUM(PORT4_CHN1), SUM(PORT6_CHN1), SUM(PORT7_CHN1) FROM accelerator WHERE data_idx "
cur.execute(query)
result= cur.fetchall()
print(result)
print(result[0])
print(result[0][1])

((-23.759199938402162, 12834.97818954051, -2138.1269905019944),)
(-23.759199938402162, 12834.97818954051, -2138.1269905019944)
12834.97818954051

위의 코드는 accelerator 테이블의 data_idx에서 레지스터 별로 각각 값들을 더해주고 이를 프린트한 결과이다. 포트 4는 -23.759, 포트 6는 12834, 포트 7은 -2138.12699 인데, 이를 보고 포트 7에 압도적으로 음수가 많다는 가정을 뒷받침할 수 있다.

In [69]:
for i in result[0]:
    if i == result[0][0]: #포트 4일때
        query = "SELECT COUNT(sum) FROM statistic WHERE reg_id='1' AND sum>%s" #제약조건 reg_id =1 이고 sum 열 안의 데이터 값이 포트 4의 합보다 클 경우만 카운트
        print("port 4의 sum 값인 -23.759보다 큰 sum을 가지고 있는 윈도우의 개수")
        cur.execute(query,result[0][0]) 
        
    elif i == result[0][1]: #포트 6일때 
        query = "SELECT COUNT(sum) FROM statistic WHERE reg_id='2' AND sum>%s" #제약조건 reg_id =2 이고 sum 열 안의 데이터 값이 포트 6의 합보다 클 경우만 카운트
        print("port 6의 sum 값인 12834.978보다 큰 sum을 가지고 있는 윈도우의 개수")
        cur.execute(query,result[0][1])  
    elif i == result[0][2]: #포트 7일때 
        query = "SELECT COUNT(sum) FROM statistic WHERE reg_id='3' AND sum>%s"#제약조건 reg_id =3 이고 sum 열 안의 데이터 값이 포트 7의 합보다 클 경우만 카운트
        print("port 7의 sum 값인 -2138.1269보다 큰 sum을 가지고 있는 윈도우의 개수")      
        cur.execute(query,result[0][2]) 
       
    result1=cur.fetchall() #저장
    print(result1[0])#확인

port 4의 sum 값인 -23.759보다 큰 sum을 가지고 있는 윈도우의 개수
(202,)
port 6의 sum 값인 12834.978보다 큰 sum을 가지고 있는 윈도우의 개수
(25,)
port 7의 sum 값인 -2138.1269보다 큰 sum을 가지고 있는 윈도우의 개수
(270,)

코드 구현 방식은 그 동안 위에서 해왔던 방법과 같아서 자세히 다루지 않겠다. 제약 조건이 sum>result[0][0], sum>result[0][1], sum>result[0][2] 를 만족하는 경우에만 카운트 된다는 부분이 특징이다. statistic 테이블 안에 있는 sum column의 데이터 값 같은 경우, 랜덤으로 파싱한 윈도우 구간들 범위안의 값들을 더한 값이 존재하는 것이다. 결과 분석을 해보자면 먼저 조건을 만족하는 윈도우의 개수는 각각 202개 25개 270개 이며 비율로 따지면
포트 4는 67.3% 포트 6는 8.3%, 포트 7은 90%이다. 이번 결과에서는 의외로 포트 6의 개수가 현저히 적었는데, port 6의 전체 sum 값이 12834.978 로 크기 때문이다. 이와 반대로 포트 7의 경우 sum의 값이 -2138 정도로 매우 작기 때문에 90프로 가 조건에 만족하는 것을 확인할 수 있었다. 이를 통해 포트 6가 다른 포트들에 비해 양수가 많다고 짐작할 수 있다. 또한 레지스터 별로 전체 데이터 들을 더한 값과 랜덤으로 파싱한 구간에 대해 더한 값을 비교 한 것이다 보니, 데이터들이 양수로 이뤄져 있었다면, sum column 내의 데이터 구간은 전체 구간보단 작을 수 밖에 없으니 결과적으로 포트 모두 0이 나올 수밖에 없을 것이다. 이러한 결과가 나온 이유는 데이터 값들 사이에 음수가 존재하기 때문에 가능했기 때문이다. 
결론적으로 이 분석을 통해 대략적으로 데이터들 사이 양수와 음수 의 차지도를 짐작 할 수 있다. 
또한 조금 더 구체적으로 분석을 진행해 단순히 개수만 세는 것이 아니라 어떤 구간에서 어떤 값이 나왔는지 볼 수 있다면, 그 구간의 데이터 값들의 분포를 조금 더 구체적으로 파악할 수 있을 것이다.

E) Condition 5

statistic 테이블에서 각 레지스터마다 mean 부분의 평균을 구해보고. 레지스터 별로 나온 평균보다 높은 mean을 가지고 있는 윈도우의 갯수

In [97]:

    query= " SELECT AVG(mean) FROM statistic WHERE reg_id='1' "
    cur.execute(query)
    result= cur.fetchall()
    print(result[0])
    query= " SELECT AVG(mean) FROM statistic WHERE reg_id='2' "
    cur.execute(query)
    result1= cur.fetchall()
    print(result1[0])
    query= " SELECT AVG(mean) FROM statistic WHERE reg_id='3' "
    cur.execute(query)
    result2= cur.fetchall()
    print(result2[0])
    #이번에는 statistic 테이블 내에서 포트별로 평균을 구해보았다.

    result3=[]
    result3.extend(result[0])
    result3.extend(result1[0])
    result3.extend(result2[0])
    print(result3)
    #이를 result3 라는 비어있는 list에 append하여 리스트를 만들어놓았다.

(0.011886880883442549,)
(0.5410244418230529,)
(-0.08881151700896832,)
[0.011886880883442549, 0.5410244418230529, -0.08881151700896832]

In [100]:
for i in result3:
    if i == result3[0]:
        query = "SELECT COUNT(mean) FROM statistic WHERE reg_id='1' AND mean>%s"
        print("port 4의 sum 값인 -23.759보다 큰 sum을 가지고 있는 윈도우의 개수")
        cur.execute(query,result3[0]) 
        
    elif i == result3[1]:
        query = "SELECT COUNT(mean) FROM statistic WHERE reg_id='2' AND mean>%s"
        print("port 6의 sum 값인 12834.978보다 큰 sum을 가지고 있는 윈도우의 개수")
        cur.execute(query,result3[1])  
    elif i == result3[2]:
        query = "SELECT COUNT(mean) FROM statistic WHERE reg_id='3' AND mean>%s"
        print("port 7의 sum 값인 -2138.1269보다 큰 sum을 가지고 있는 윈도우의 개수")      
        cur.execute(query,result3[2]) 
       
    resultf=cur.fetchall()
    print(resultf[0])

port 4의 sum 값인 -23.759보다 큰 sum을 가지고 있는 윈도우의 개수
(148,)
port 6의 sum 값인 12834.978보다 큰 sum을 가지고 있는 윈도우의 개수
(139,)
port 7의 sum 값인 -2138.1269보다 큰 sum을 가지고 있는 윈도우의 개수
(132,)

마지막 분석이다. 코드는 위의 4가지 방식과 같은 알고리즘으로 진행했기 때문에, 코드 분석은 진행하지 않겠다.
위에서 진행한 분석과 다른 점이 잇다면 기존에는 accelerator 에 있는 레지스터의 전체 값들의 평균을 내서 그 값보다 큰 값보다 큰 윈도우 개수를 파악했다면, 
이번에는 statistic 테이블 내에서 레지스터 별로 mean 인덱스 내의 값들을 평균 내서 이를 기준으로 잡았다.
결과를 보았을때 각각 148 139 132로 비율 상으로 보면 49.3% 46.3% 44%로 그 동안 분석했을때 결과들의 비율 중 50%에 가장 근접한 비율이  나왔다. 
A 조건과 비교했을 때 확실히 E조건은 mean column 내의 데이터들의 값을 또 평균 낸것을 기준 잡고 이 보다 큰 것들을 카운트 한 것이다 보니 A 조건 보다는 정규 분포의 형태를 띄게 된다 생각할 수 있다.

최종분석

지금 까지 여러 조건을 통해서 statistic table을 분석 해보았다. 추정 할 수 있느 부분은 포트 6가 가장 양수가 많이 존재하며, 포트7이 이와 반대로 음수가 가장 많이 존재한다는 부분이다.
정확하다고 단정지어 말할 수 없는 부분은 타임 윈도우 테이블에서 start-end idx 모두 내가 랜덤 함수를 통해 2개 다 난수로 뽑았고, 이에 따라서 각 윈도우 인덱스 별로 구간의 크기, 시작과 끝의 부분이 천차 만별이다. 따라서 통일 되어 있지 않기 때문에 대략적으로 유추만 가능하다는 아쉬움이 존재하였다. 스태티스틱 테이블을 통해서 결론적으로 전체적인 경향을 보기에는 어려움이 있고, 분석을 통해 구간에 대한 특징을 살펴보는데 의의를 둘 수 있을 것 같다.(음수 양수의 분포 등등..) 이러한 분포를 조금 더 정확하게 분석 하기 위해서는 방금 본인이 진행했던 것처럼 랜덤 함수를 통해  구간을 잡기 보다는 통일된 구간의 크기를 잡으면 더 좋을 것 같다. 에를 들어 start-end idx 모두 랜덤으로 잡은 것이 아니라, start idx만 랜덤으로 잡고 픽스되어 있는 크기 (예를 들어 300) 뒤에 있는 인덱스를 end 로 잡아 구간을 통일 했으면 분석 시에 조금 더 직관적으로 구간마다의 분포를 확인하는데 수월하지 않았을까 한다. 
하지만 위 진행을 통해 결론 나온 정보 또한 실제 분포와 비교했을 때 비슷한 결과를 도출한다는 것을 확인 할 수 있었다.